


  <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- <img src="http://i.imgur.com/vko9XvA.jpg" width="175" height="175" /> -->
            </div>
            <div class="col-md-6">
              <h3>Total USD Balance: <strong>$<%= USD_TOTAL %></strong> </h3>
            </div>
        </div>
    </div>



<table class="table table-border table-hovered table-striped">
  <thead>
    <tr class="info">
      <th>Asset Name</th>
      <th>Unit Price</th>
      <th>Asset Amount</th>
      <th>Dollar Amount</th>
    </tr>
  </thead>

  <tbody>
    <% for (var asset of assets) { %>
      <tr class="warning">
          <td><h4><%= asset.name %></h4></td>
          <td>$<%= asset.unit_price %></td>
          <td><%= asset.asset_amount %></td>
          <td>$<%= asset.unit_price * asset.asset_amount %></td>
      </tr>
  <% } %>
  </tbody>
</table>
